---
import { Icon } from "astro-icon";
---

<div class="mockup-phone border-primary">
  <div class="camera"></div>
  <div class="display">
    <div class="artboard artboard-demo phone-1">
      <!-- <div class=""> -->
      <div class="avatar">
        <div
          class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
        >
          <img src="/img/avatar-256.webp" />
        </div>
      </div>
      <div class="w-48 my-2 flex justify-around">
        <a href="https://hel8er.t.me/" target="_blank"
          ><Icon name="logos:telegram" width="32" /></a
        >
        <a href="https://wa.me/79286668763" target="_blank"
          ><Icon name="logos:whatsapp" width="32" /></a
        >
      </div>
      <h2 class="my-4 dark:text-white">Александр Гельбер</h2>
      <h3 class="my-4 dark:text-slate-400 text-xs">
        IT-аутсорсинг | Web-разработка
      </h3>
      <div
        class="rounded-xl hover:outline outline-offset-1 dark:outline-primary"
      >
        <a href="/">
          <img
            src="/img/qr/YQR.svg"
            class="mx-auto w-48 dark:invert"
            alt="HeliCode QR"
          />
          https://helicode.tech</a
        >
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>
